<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="hr.sting.crossdroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="docs.google.com" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:name=".ContinuousCaptureActivity">
        </activity>
        <activity
                android:name=".AnyOrientationCaptureActivity"
                android:screenOrientation="fullSensor"
                android:stateNotNeeded="true"
                android:theme="@style/zxing_CaptureTheme"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".ToolbarCaptureActivity"
                android:clearTaskOnLaunch="true"
                android:screenOrientation="portrait"
                android:stateNotNeeded="true"
                android:theme="@style/AppCompatCaptureTheme"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".CustomScannerActivity"
                android:screenOrientation="fullSensor"
                android:stateNotNeeded="true"
                android:theme="@style/zxing_CaptureTheme"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".SmallCaptureActivity"
                android:screenOrientation="fullSensor"
                android:stateNotNeeded="true"
                android:theme="@style/zxing_CaptureTheme"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".GalleryActivity"
                android:label="@string/title_activity_gallery">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="hr.sting.crossdroid.MainActivity"/>
        </activity>
    </application>

</manifest>
